.main-pic{
  background-image: url(https://images.unsplash.com/photo-1454587399083-b11b22f48fb6?dpr=2&auto=format&fit=crop&w=1500&h=1072&q=80&cs=tinysrgb&crop=);
  height: 500px;
}

.myform{
  margin: auto;
  margin-top: 30px;
  width: 50%;
}

input{
  width: 100%;
  margin: 5px;
  margin-left: 0;
  padding-left: 5px;
}

.btn{
  margin-top: 20px;
}

textarea{
  width: 100%;
  border: 2px solid rgba(275,275,275,1);
}
