
.my-nav-center{
  /*width: 100%;*/
  float: right;
  /*padding-left: 28%;*/
}

.navbar-default .navbar-nav>li>a {
    color: rgb(30, 30, 30);
}

.navbar-default .navbar-brand {
    color: rgb(30, 30, 30);
}

.navbar-default {
    padding-top: 10px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding-bottom: 50px;
    font-size: 20px;
    margin-bottom: 0;
}

.navbar-brand{
  font-size: 20px;
  color: rgb(30, 30, 30);
}

.main-pic{
  width: 100%;
  height: 600px;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1484101403633-562f891dc89a?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  background-repeat: no-repeat;
}

.my-nav-color{
  background: transparent;
}

body{
  background: rgb(242, 242, 242);
}

.showcase{
  width: 100%;
  background: rgb(242, 242, 242);
}

.showcase-pics{
  /*background: rgb(230, 230, 230);*/
  margin-top: 90px;
  border: solid 2px rgb(30, 30, 30);
  border-radius: 10px;
}

.showcase-pic1{
  background-image: url("https://images.unsplash.com/photo-1469131792215-9c8aaff71393?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.showcase-pic2-quote{
  /*height: 570px;*/
  /*background: green;*/
}

.showcase-pic2{
  background-image: url("https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?dpr=2&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  height: 240px;
  margin-top: 80px;
  border-radius: 5px;
}

.showcase-quote{
  height: 150px;
  /*background: yellow;*/
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
  font-family: 'Kaushan Script', cursive;
}

.aboutme{
  /*height can be set to only be as tall as it needs to be for its contents if
  there is no height set. This helps to prevent overlap on the website*/
  /*height: 400px;*/
  margin-bottom: 60px;
  /*background: green;*/
}

.aboutme h1{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 45px;
  margin-top: 70px;
}

.aboutme p {
  width: 70%;
  font-size: 200%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.topics{
  background: rgb(178, 178, 178);
  padding: 100px 0 60px 0;
}

.circle{
  height: 300px;
  width: 300px;
  border-radius: 360px;
  background: rgb(210, 210, 210);
  margin: 0 auto 40px auto;
  padding: 70px;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  text-align: center;
}

.circle-one{
padding-left: 55px;
}

.circle-two{
padding-top: 110px;
}

.circle-three{
padding-top: 80px;
padding-left: 65px;
}

.circle a{
  text-decoration: none;
  color: black;
}

.circle a:hover{
  color: rgb(100, 100, 100);
}
